<!-- ✦✦✦✦✦✦✦✦✦ SECTION: HERO START ✦✦✦✦✦✦✦✦✦ -->
<section class="text-white py-8 sm:py-32 px-4 sm:px-6 lg:px-8 relative bg-cover bg-center bg-no-repeat" style="background-image: linear-gradient(rgba(70,70,252,0.7), rgba(0, 0, 90, 0.7)), url('../../../../images/bg/portfolio.jpg');">
  <div class="max-w-4xl mx-auto grid text-center gap-10 items-center justify-center">
    <div>
      <h1 class="text-[48px] font-bold leading-tight">
       Portfolio
      </h1>
      <p class="mt-4 text-lg text-gray-200">
        we’re a technology-first company with a passion for solving real-world problems through smart digital solutions.
        From startups to enterprises, we help brands transform, scale, and thrive.
      </p>
    </div>
  </div>
</section>
<!-- ✦✦✦✦✦✦✦✦✦ SECTION: HERO START ✦✦✦✦✦✦✦✦✦ -->
<!-- ✦✦✦✦✦✦✦✦✦ SECTION: HERO START ✦✦✦✦✦✦✦✦✦ -->
<section class="bg-[#EDEAEA] py-8 sm:py-20 px-4 sm:px-6 lg:px-8">
  <div class="max-w-7xl mx-auto text-center">
    <h2 class="text-[24px] sm:text-3xl font-bold mb-5"><span class="text-[#4646fc]">Showcasing</span> What We’ve Built
    </h2>
    <div class="flex-none sm:flex gap-2 mb-4 sm:mb-10 custom-active-tab items-center  justify-center">
      <a (click)="filter='All Projects'" [ngClass]="filter === 'All Projects' ? ' active-filter' : ''">
        All Projects
      </a>

      <a (click)="filter='Government'" [ngClass]="filter === 'Government' ? 'active-filter' : ''">
        Government
      </a>

      <a (click)="filter='Private'" [ngClass]="filter === 'Private' ? 'active-filter' : ''">
        Private
      </a>

      <a (click)="filter='Websites'" [ngClass]="filter === 'Websites' ? 'active-filter' : ''">
        Websites
      </a>
    </div>

    <div class="grid grid-cols-2">
      <div *ngFor="let project of filteredProjects"
        class="card bg-white rounded-2xl border border-gray-100 group hover:border-gray-200 hover:!shadow-2xl transition-all duration-500 transform hover:-translate-y-2 m-2 p-5 text-center">
         <div class="relative overflow-hidden rounded-xl group">
             <img [src]="dummy_img" alt="" class="transition-transform duration-500 group-hover:scale-110 w-full h-full object-cover" />
        </div>
        <h3 class="mt-4 text-md sm:text-[16px] font-bold">{{ project.title }}</h3>
      </div>
    </div>
  </div>
</section>
<!-- ✦✦✦✦✦✦✦✦✦ SECTION: HERO End ✦✦✦✦✦✦✦✦✦ -->



<!-- ✦✦✦✦✦✦✦✦✦ SECTION: We Offer Best IT Services START ✦✦✦✦✦✦✦✦✦ -->
<section class="bg-gray-50 py-8 sm:py-20 px-4 sm:px-6 lg:px-8">
  <div class="max-w-7xl mx-auto text-center">
    <p class=" tracking-wide mb-2 font-semibold text-md">We Offer Best IT Services</p>
    <h2 class="text-[24px] sm:text-3xl font-bold"><span class="text-[#4646fc]">Easy Solution</span> for Difficult IT
      Problems</h2>
    <div class="mt-10 grid gap-2 sm:gap-8 grid-cols-1 md:grid-cols-4 our-services">
      @for (item of ourServices; track $index) {
      <div
        class="card group relative bg-white rounded-2xl border border-gray-200 hover:border-gray-100 hover:!shadow-2xl transition-all duration-500 transform hover:-translate-y-2">
        <div class="card-details">
          <div class="w-20 h-20 group-hover:scale-110 transition-transform duration-300"><i
              class="fa-solid {{item.icon}} text-4xl py-4 group-hover:text-[#4646fc]"></i></div>
          <h3 class="font-semibold text-lg group-hover:text-[#4646fc]">{{item.title}}</h3>
          <p class="mt-2 text-sm text-gray-600">{{item.descrption}}</p>
        </div>
        <div class="icon bg-gray-300 p-2 cursor-pointer group-hover:bg-[#4646fc] transform duration-300">
          <i class="fa-solid fa-arrow-right group-hover:text-[#ffffff]"></i>
        </div>
      </div>
      }
    </div>
  </div>
</section>

<!-- ✦✦✦✦✦✦✦✦✦ SECTION: We Offer Best IT Services END ✦✦✦✦✦✦✦✦✦ -->

<!-- ✦✦✦✦✦✦✦✦✦ SECTION: Contact Form START ✦✦✦✦✦✦✦✦✦ -->
<section class="py-12 px-4 sm:px-6 lg:px-8 md:px-20 bg-[#B7B2B2]">
  <div class="max-w-7xl mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 flex justify-center items-center">
      <div class="p-5">
        <h3 class="font-semibold text-lg sm:text-3xl mb-4">Let’s Build Something Together</h3>
        <p>Have questions? Need a quote? Just want to chat about your next big idea? Fill out the form below — our team
          will get back to you within 24 hours.</p>
      </div>
      <div class="bg-[#E4DBDB] rounded-lg p-10">
        <h3 class="font-semibold text-2xl text-center mb-4">Get in Touch With Us</h3>
        <div class="contact-form grid grid-cols-10 gap-4">
          <div class="input col-span-10 mt-4">
            <input type="text" class="bg-[#FFFBFB] w-full p-3 rounded-lg outline-none">
          </div>
          <div class="input col-span-5 mt-3">
            <input type="text" class="bg-[#FFFBFB] w-full p-3 rounded-lg outline-none">
          </div>
          <div class="input col-span-5 mt-3">
            <input type="text" class="bg-[#FFFBFB] w-full p-3 rounded-lg outline-none">
          </div>
          <div class="input col-span-5 mt-3">
            <input type="text" class="bg-[#FFFBFB] w-full p-3 rounded-lg outline-none">
          </div>
          <div class="input col-span-5 mt-3">
            <input type="text" class="bg-[#FFFBFB] w-full p-3 rounded-lg outline-none">
          </div>
          <div class="input col-span-10 mt-3">
            <input type="text" class="bg-[#FFFBFB] w-full p-3 rounded-lg outline-none">
          </div>
          <div class="input col-span-10 text-center mt-2">
            <button
              class="w-[250px] text-center bg-black hover:bg-opacity-[60%] p-3 text-white rounded-lg cursor-pointer">SUBMIT</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ✦✦✦✦✦✦✦✦✦ SECTION: Contact Form END ✦✦✦✦✦✦✦✦✦ -->
