.process-timeline {
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
}

.timeline-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    gap: 15px;

}

.timeline-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-bottom: 20px;
    //   margin: 5px;
    //     background: #efefef;
    //     padding: 10px;
    //     border-radius: 5px;
}

/* NUMBER CIRCLE */
.step-circle {
    width: 52px;
    height: 52px;
    background: white;
    border-radius: 50%;
    //   border: 2px solid #4746fc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #3f495e;
    font-size: 18px;
    z-index: 10;

    &.bg-light-one {
        background-color: #ffe2e2;
    }

    &.bg-light-two {
        background-color: #e5e8eb;
    }

    &.bg-light-three {
        background-color: #ffecd5;
    }

    &.bg-light-four {
        background-color: #dff2fe;
    }

    &.bg-light-five {
        background-color: #fce7f3;
    }

    &.bg-light-six {
        background-color: #cffafe;
    }
}

/* CARD */
.card {
    margin-top: 16px;
    background: #ffffff;
    padding: 20px;
    border-radius: 18px;
    // box-shadow: 0 4px 24px rgba(0, 0, 0, 0.05);
    width: 100%;
    min-height: 200px;
    // transition: transform 0.5s ease, box-shadow 0.5s ease;

    &.bg-light-one {
        background-color: #ffe2e2;
    }

    &.bg-light-two {
        background-color: #e5e8eb;
    }

    &.bg-light-three {
        background-color: #ffecd5;
    }

    &.bg-light-four {
        background-color: #dff2fe;
    }

    &.bg-light-five {
        background-color: #fce7f3;
    }

    &.bg-light-six {
        background-color: #cffafe;
    }
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08);
}

/* CARD TEXT */
.card h3 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.card p {
    font-size: 0.88rem;
    line-height: 1.4rem;
    color: #6b7280;
}

/* CONNECTING ARROWS */
.arrow {
    position: relative;
    width: 80px;
    height: 2px;
    top: 50%;
    //   background: #e1e3e8;
    border-bottom: 2px dotted #4746fc;
    margin-top: 180px;
}

.arrow::after {
    content: "";
    position: absolute;
    right: -6px;
    top: -4px;
    width: 10px;
    height: 10px;
    border-top: 2px dotted #4746fc;
    border-right: 2px dotted #4746fc;
    transform: rotate(45deg);
}

/* DIVIDER LINE BETWEEN ROWS */
.divider-line {
    width: 100%;
    height: 2px;
    background: #e5e7eb;
    margin: 32px 0;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .timeline-row {
        flex-direction: column;
        gap: 80px;
    }

    .arrow {
        display: none;
    }
}

.models-list {
    margin-top: 10px;
    li {
        width: 100%;
        margin-bottom: 5px;
        padding-left: 0;
        font-size: 15px;
    }
}