<!-- ✦✦✦✦✦✦✦✦✦ SECTION: HERO START ✦✦✦✦✦✦✦✦✦ -->
<section class="text-white py-8 sm:py-32 px-4 sm:px-6 lg:px-8 bg-[#4646fc]">
  <div class="max-w-4xl mx-auto grid text-center gap-10 items-center justify-center">
    <div>
      <h1 class="text-[48px] font-bold leading-tight">
       Services
      </h1>
      <p class="mt-4 text-lg text-gray-200">
       We’re a technology-first company passionate about solving real-world challenges through smart digital solutions. From startups to enterprises, we help businesses transform, scale and thrive.
      </p>
    </div>
  </div>
</section>
<!-- ✦✦✦✦✦✦✦✦✦ SECTION: HERO START ✦✦✦✦✦✦✦✦✦ -->
<section class="bg-white py-8 sm:pb-20 px-4 sm:px-6 lg:px-8">
  <div class="max-w-7xl mx-auto text-center">

      <h2 class="text-[24px] sm:text-3xl font-bold"><span class="text-[#4646fc]">Our</span> Process</h2>
      <p class="max-w-4xl mx-auto mt-3">At <span class="text-[#4646fc]">Dharstec Solutions</span>, we follow a structured yet flexible process to ensure every project delivers measurable value to our clients. From the first conversation to post-deployment support, we stay focused on understanding your business and delivering solutions that fit perfectly.

      </p>


    <div class="process-timeline">

      <!-- ROW 1 -->
      <div class="timeline-row">
        <div class="timeline-item">
          <div class="step-circle bg-light-one">1</div>
          <div class="card bg-light-one">
            <h3>Consultation</h3>
            <p>We begin by understanding your business challenges, goals and existing systems.</p>
          </div>
        </div>

        <div class="arrow"></div>

        <div class="timeline-item">
          <div class="step-circle bg-light-two">2</div>
          <div class="card bg-light-two">
            <h3>Defining the Scope</h3>
            <p>We prepare a detailed scope document outlining objectives, deliverables and timelines.</p>
          </div>
        </div>

        <div class="arrow"></div>

        <div class="timeline-item">
          <div class="step-circle bg-light-three">3</div>
          <div class="card bg-light-three">
            <h3>Solution Development</h3>
            <p>Our development team designs and builds tailored web/mobile/cloud solutions.</p>
          </div>
        </div>
      </div>

      <!-- Center Horizontal Divider -->
      <!-- <div class="divider-line"></div> -->

      <!-- ROW 2 -->
      <div class="timeline-row">
        <div class="timeline-item">
          <div class="step-circle bg-light-four">4</div>
          <div class="card bg-light-four">
            <h3>Demonstration & Feedback</h3>
            <p>We provide live demos at key milestones so you can visualize progress.</p>
          </div>
        </div>

        <div class="arrow"></div>

        <div class="timeline-item">
          <div class="step-circle bg-light-five">5</div>
          <div class="card bg-light-five">
            <h3>Implementation</h3>
            <p>The solution is deployed to your environment with minimal disruption.</p>
          </div>
        </div>

        <div class="arrow"></div>

        <div class="timeline-item">
          <div class="step-circle bg-light-six">6</div>
          <div class="card bg-light-six">
            <h3>Continuous Support</h3>
            <p>We provide post-launch support, upgrades and optimization.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- ✦✦✦✦✦✦✦✦✦ SECTION: We Offer Best IT Services START ✦✦✦✦✦✦✦✦✦ -->
<section class="bg-gray-50 py-8 sm:py-20 px-4 sm:px-6 lg:px-8">
  <div class="max-w-7xl mx-auto text-center">
    <p class=" tracking-wide mb-2 font-semibold text-md">We Offer Best IT Services</p>
    <h2 class="text-[24px] sm:text-3xl font-bold"><span class="text-[#4646fc]">Our</span> Services</h2>
    <p class="max-w-4xl mx-auto mt-3">We offer end-to-end technology solutions that help businesses build, scale and sustain their digital presence effectively.
</p>
    <div class="mt-10 grid gap-2 sm:gap-8 grid-cols-1 md:grid-cols-4 our-services content-center">
      @for (item of ourServices; track $index) {
      <div
        class="card group relative bg-white rounded-2xl border border-gray-200 hover:border-gray-100 hover:!shadow-2xl transition-all duration-500 transform hover:-translate-y-2">
        <div class="card-details">
          <div class="w-20 h-20 group-hover:scale-110 transition-transform duration-300"><i
              class="fa-solid {{item.icon}} text-4xl py-4 group-hover:text-[#4646fc]"></i></div>
          <h3 class="font-semibold text-lg group-hover:text-[#4646fc]">{{item.title}}</h3>
          <p class="mt-2 text-sm text-gray-600">{{item.descrption}}</p>
        </div>
        <div class="icon bg-gray-300 p-2 cursor-pointer group-hover:bg-[#4646fc] transform duration-300">
          <i class="fa-solid fa-arrow-right group-hover:text-[#ffffff]"></i>
        </div>
      </div>
      }
    </div>
  </div>
</section>

<!-- ✦✦✦✦✦✦✦✦✦ SECTION: We Offer Best IT Services END ✦✦✦✦✦✦✦✦✦ -->


<!-- ✦✦✦✦✦✦✦✦✦ SECTION: Why Choose Us START ✦✦✦✦✦✦✦✦✦ -->
<section class="bg-gray-50 pb-8 sm:pb-20 px-4 sm:px-6 lg:px-8">
  <div class="max-w-7xl mx-auto">
    <div class="grid grid-cols-2 gap-6">
      <div>
        <h2 class="text-[24px] sm:text-3xl font-bold"><span class="text-[#4646fc]">Why </span> Choose Us</h2>
        <p class="max-w-4xl mx-auto mt-3">We combine expertise, innovation, and a client-first approach to deliver impactful digital solutions that drive business growth.
</p>
        <div class="grid grid-cols-2 gap-6 mt-4">
              <img [src]="dummy_img" alt="" class="rounded-2xl w-full h-[130px]">
              <img [src]="dummy_img" alt="" class="rounded-2xl w-full h-[130px]">
              <img [src]="dummy_img" alt="" class="rounded-2xl w-full h-[130px]">
              <img [src]="dummy_img" alt="" class="rounded-2xl w-full h-[130px]">
        </div>
      </div>
      <div>
        <div class="grid grid-cols-2 gap-8 mt-4">
          @for (item of whyChooseUs; track $index) {
          <div class="card text-left px-6 py-2">
             <div class="w-20 h-20 group-hover:scale-110 transition-transform duration-300"><i
              class="fa-solid {{item.icon}} text-4xl py-4 group-hover:text-[#4646fc]"></i></div>
          <h3 class="font-semibold text-lg group-hover:text-[#4646fc]">{{item.title}}</h3>
          <p class="mt-2 text-sm text-gray-600">{{item.descrption}}</p>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ✦✦✦✦✦✦✦✦✦ SECTION: Why Choose Us END ✦✦✦✦✦✦✦✦✦ -->

<!-- ✦✦✦✦✦✦✦✦✦ SECTION: Industries We Serve START ✦✦✦✦✦✦✦✦✦ -->
<section class="bg-[#CDCDCD] py-8 sm:py-20 px-4 sm:px-6 lg:px-8">
  <div class="max-w-7xl mx-auto text-center">
    <p class=" tracking-wide mb-2 font-semibold text-md">Industries We Serve</p>
    <h2 class="text-[24px] sm:text-3xl font-bold"><span class="text-[#4646fc]">Industries</span> We Serve</h2>
    <p class="max-w-4xl mx-auto">Over the years, we’ve partnered with clients across diverse sectors - addressing unique operational challenges with tailored digital solutions. Our domain expertise helps us deliver measurable impact, no matter the industry.</p>
    <div class="mt-10 grid gap-2 sm:gap-8 grid-cols-1 md:grid-cols-4 our-services without-icon-brder justify-items-start">
      @for (item of inDustries; track $index) {
      <div
        class="card group relative bg-white rounded-2xl border border-gray-200 hover:border-gray-100 hover:!shadow-2xl transition-all duration-500 transform hover:-translate-y-2">
        <div class="card-details">
          <div class="w-20 h-20 group-hover:scale-110 transition-transform duration-300"><i
              class="fa-solid {{item.icon}} text-4xl py-4 group-hover:text-[#4646fc]"></i></div>
          <h3 class="font-semibold text-lg group-hover:text-[#4646fc]">{{item.title}}</h3>
          <p class="mt-2 text-sm text-gray-600">{{item.descrption}}</p>
        </div>
      </div>
      }
    </div>
  </div>
</section>

<!-- ✦✦✦✦✦✦✦✦✦ SECTION: Industries We Serve END ✦✦✦✦✦✦✦✦✦ -->


<!-- ✦✦✦✦✦✦✦✦✦ SECTION: Our Clients START ✦✦✦✦✦✦✦✦✦ -->
<!-- <section class="py-8 sm:py-16 text-center bg-white px-4 sm:px-6 lg:px-8">

  <h2 class="text-2xl font-bold mb-10">Our Clients</h2>
  <div class="max-w-7xl mx-auto grid grid-cols-2 sm:grid-cols-5 gap-6 sm:gap-10">
    <div class="rounded-[20px]">
      <img src="https://hotelmanagementassets.s3.us-east-1.amazonaws.com/img/Eka-logo.svg" alt=""
        class="w-full h-24 border border-gray-300 rounded-2xl">
    </div>
    <div class="rounded-[20px]">
      <img [src]="dummy_img" alt="" class="w-full h-24 border border-gray-300 rounded-2xl">
    </div>
    <div class="rounded-[20px]">
      <img src="https://chaandi.dharstec.com/assets/logo/chaandi-jewellry-logo.svg" alt=""
        class="w-full h-24 border border-gray-300 rounded-2xl">
    </div>
    <div class="rounded-[20px]">
      <img [src]="dummy_img" alt="" class="w-full h-24 border border-gray-300 rounded-2xl">
    </div>
    <div class="rounded-[20px]">
      <img [src]="dummy_img" alt="" class="w-full h-24 border border-gray-300 rounded-2xl">
    </div>
  </div>
</section> -->
<!-- ✦✦✦✦✦✦✦✦✦ SECTION: Our Clients End ✦✦✦✦✦✦✦✦✦ -->

<!-- ✦✦✦✦✦✦✦✦✦ SECTION: Industries We Serve START ✦✦✦✦✦✦✦✦✦ -->
<!-- <section class="bg-[#CDCDCD] py-8 sm:py-32 px-4 sm:px-6 lg:px-8">
  <div class="max-w-7xl mx-auto text-center">
    <div class="grid gap-2 sm:gap-8 grid-cols-1 md:grid-cols-4">
      @for (item of status; track $index) {
      <div class="card group relative transition-all duration-500 transform hover:-translate-y-2">
        <div class="card-details">
          <h3 class="font-semibold text-[40px] group-hover:text-[#4646fc]">{{item.value}}{{item.suffix}}</h3>
          <p class="mt-5 text-sm text-gray-600">{{item.label}}</p>
        </div>
      </div>
      }
    </div>
  </div>
</section> -->

<!-- ✦✦✦✦✦✦✦✦✦ SECTION: Industries We Serve END ✦✦✦✦✦✦✦✦✦ -->


<!-- ✦✦✦✦✦✦✦✦✦ SECTION: Customer Feedback START ✦✦✦✦✦✦✦✦✦ -->
<!-- <section class="py-12 px-4 sm:px-6 lg:px-8 md:px-20 bg-gray-50 dark:bg-gray-900">
  <div class="max-w-7xl mx-auto">
    <div class="text-center">
      <div>Customer Feedback</div>
      <h2 class="text-lg sm:text-2xl font-bold mb-2">
        What Our Clients Say About Us
      </h2>
      <p class="text-gray-600 dark:text-gray-300 mb-10">
        Honest feedback from people who’ve seen our impact firsthand.
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
      <mat-card *ngFor="let testimonial of testimonials" class="p-6 !shadow-none !bg-[#E1DFDF]">
        <div class="flex items-center mb-4">
          <div class="w-12 h-12 rounded-full bg-gray-300 mr-3">
            <img [src]="user" alt="">
          </div>
          <div>
            <h3 class="font-semibold">{{ testimonial.name }}</h3>
            <p class="text-sm text-gray-500">{{ testimonial.role }}</p>
          </div>
        </div>
        <p class="text-gray-600 dark:text-gray-300">
          {{ testimonial.feedback }}
        </p>
      </mat-card>
    </div>
  </div>
</section> -->
<!-- ✦✦✦✦✦✦✦✦✦ SECTION: Customer Feedback END ✦✦✦✦✦✦✦✦✦ -->


<!-- ✦✦✦✦✦✦✦✦✦ SECTION: Customer Feedback START ✦✦✦✦✦✦✦✦✦ -->
<section class="py-12 px-4 sm:px-6 lg:px-8 md:px-20 bg-gray-50 dark:bg-gray-900">
  <div class="max-w-7xl mx-auto bg-[#4646fc] rounded-2xl py-12">
    <div class="text-center text-white">
      <h2 class="text-lg sm:text-3xl font-bold mb-2">
        We’d Love to Work With You
      </h2>
      <p class="mt-4 dark:text-gray-300">
        Big idea or small need, every project starts with a conversation. Reach out, and let’s see how we can bring your goals to life.
      </p>
      <button mat-flat-button class="mt-6 !bg-white !text-black !rounded-sm px-6 py-2">
        Contact Us
      </button>
    </div>
  </div>
</section>
<!-- ✦✦✦✦✦✦✦✦✦ SECTION: Customer Feedback End ✦✦✦✦✦✦✦✦✦ -->